.boardMembers {
  padding: 0;
  display: flex;
}

.boardMembers li {
  list-style-type: none;
  padding-right: 15px;
}

#owners button:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.blueText {
  color:rgb(80,172,231);
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgb(80,172,231);
}

.boardAccordion ul {
  padding: 0;
}

.boardAccordion ul li {
  list-style-type: none;
}

.boardAccordion ul li a {
  color: rgb(80,172,231);
  text-decoration: none;
}

@media (max-height: 700px) {
  #owners {
      padding-bottom: 150px;
  }
}

@media (max-width: 780px) {
  .boardMembers {
    display: block;
  }
}

@media (max-width: 800px) {
  #owners {
      padding-bottom: 175px;
  }
}