.roomContainer {
    text-align: center;
    margin-top: 5vh;
}

.roomContainer h1 {
    margin-bottom: 20px;
    text-align: center;
}

.leftRoom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
}

.leftRoom p {
    width: 40%;
    font-size: 15pt;
}

.leftRoom img {
    width: 30%;
}